@border-color: #dee2e6;
@danger-color: #ff4559;
@success-color: #5cb85c;
@warning-color: #ff8f00;
@polarity-green: #7bc942;

@dark-background: #121212;
@medium-background: #ECEEF4;
@light-background: #F9FAFB;
@normal-text: #515151;
@link-blue: #1ba8ed;
@selected-text: #789cea;
@dimmed-text: #686d79;
@muted-text: #626C84;
@google-red: #e81716;
@google-yellow: #fabf41;
@google-green: #40ae66;
@google-blue: #3b6dcd;
@description-shadow: rgba(110, 110, 110, 0.05);
@association-border: #ededed;;

* {
  overflow-wrap: break-word !important;
  word-break: break-word !important;
}

// Summary tag styles

.summary-icon {
  margin-bottom: 1px;
  margin-left: 1px;
}

span.summary-threshold-message {
  margin-right: 2px;
  word-wrap: break-word !important;
}

.copy-btn-container {
  flex: 1 1 auto;
  position: absolute;
  right: 10px;
  top: 7px;

  .copy-btn {
    font-size: 12px;
    padding: 0px;
    height: 20px;

    :active {
      color: darken(#388e3c, 5%);
    }
  }

  .copy-success-message {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: rgb(222, 226, 230);
    min-width: max-content;
    padding: 5px;
    border-radius: 3px;
    z-index: 999;

    .copy-success-icon {
      color: #aaa;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.25s linear;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.25s, opacity 0.25s linear;
    }
  }
}

.danger-summary-tag {
  padding: 0 !important;

  .icon-container {
    //background-color: @danger-color;
    height: 100%;
    padding: 3px 2px;
    margin-bottom: 0px;
    display: inline-block;

    svg {
      margin-bottom: 1px;
    }
  }

  .tag {
    padding: 0.25em 0em 0.25em 0.25em;
    display: inline-block;
  }

  .data {
    padding: 0.25em 0.4em 0.25em 0em;
    display: inline-block;
  }

  .stripe-bg-danger {
    color: white;
    background: repeating-linear-gradient(45deg,
    @danger-color,
    @danger-color 5px,
    lighten(@danger-color, 5%) 5px,
    lighten(@danger-color, 5%) 10px) !important;
  }

  .stripe-bg-warning {
    color: white;
    background: repeating-linear-gradient(45deg,
    @warning-color,
    @warning-color 5px,
    lighten(@warning-color, 5%) 5px,
    lighten(@warning-color, 5%) 10px) !important;
  }
}

// Details block styles

.item-container {
  border: 1px solid #e4e9f2;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

pre {
  margin: 0px;
  white-space: pre-wrap;
  max-height: 150px;
  overflow-y: auto;
}

.file-copy-button {
  position: absolute;
  right: 12px;
}

button.naked {
  color: @polarity-green;
  background-color: transparent;
  border: none;

  :hover {
    color: darken(@polarity-green, 10%);
  }

  :active {
    color: darken(@polarity-green, 20%);
  }
}

b.muted {
  color: #888;
}

.external-link-icon {
  font-size: 8px;
}

.table-icon {
  font-size: 10px;
}

i {
  font-size: 10px;
}

td.positives {
  width: 60px;
}

.header-icon {
  font-size: 10px;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  display: block;
  width: 100%;
  padding-right: 3px;
  resize: vertical;

  &[style*="height"] {
    max-height: unset;
  }

  &.bordered {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-left: 0px !important;
    padding-top: 3px;
    padding-left: 5px;
  }

  &.short {
    max-height: 150px;
  }

  &.padded {
    padding: 5px;
  }
}

.toggle-header {
  margin-top: 8px;
}

.scan-results {
  word-wrap: break-word;
  word-break: normal;
  padding-bottom: 7px;

  table {
    table-layout: auto;
    width: 100%;
  }
}

.section {
  margin-top: 7px;
}

.section:first-child {
  margin-top: 0px;
}

.whois-expanded {
  border-left: 1px solid lightgray;
  margin-left: 12px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.nav-tabs {
  margin-bottom: 5px;
}

.p-link {
  padding-bottom: 3px;
}

.top-section {
  display: flex;
  padding-bottom: 5px;

  .indicator {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
  }

  .tags-container {
    padding-left: 5px;

    .tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        padding: 1px 7px 2px 7px;
        background-color: #e6e6e6;
        border-radius: 10px;
        margin-bottom: 4px;
        margin-right: 2px;
      }
    }
  }


  .right-column {
    flex: 1 1 0;
    flex-direction: column;
  }

  .score-container {
    width: 100%;
    padding: 0px 5px;

    .score-marker {
      display: inline-block;
      position: relative;
      text-align: left;
      transition: transform 1s ease-in-out 0s;
      z-index: 1;
      top: 5px;
      height: 25px;
      width: 20px;
      top: -1px;

      .score-marker-icon {
        size: 20px;
      }
    }

    .score-footer {
      margin-top: 5px;
      text-align: center;
    }

    .score-line {
      height: 2px;
      background: linear-gradient(to right, @danger-color 50%, @success-color 50%);
      border-radius: 10px;
      width: 100%;
    }
  }
}

.associations {
  .control-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 10px;

    .tab-buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .gti-button {
        color: @dimmed-text;
        background-color: @light-background;
        font-weight: 600;
        border-radius: 8px;
        margin-right: 6px;
        padding: 0px 8px !important;
        height: 34px;
        font-size: 12px;
        line-height: 12px;
        border: 1px solid @association-border;

        &.active {
          border: 2.5px solid @selected-text;
          color: @normal-text;
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .association-link {
        a {
          color: @link-blue;
          background-color: @light-background;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 7px;
          padding-bottom: 9px;
          border-radius: 5px;
          text-wrap: nowrap;
          border: 1px solid @association-border;
        }

        .narrow {
          display: none;
        }
      }
    }
  }

  .associations-tabs {
    display: flex;
    flex-direction: column;

    .associations-tab {
      .association {
        margin-bottom: 6px;

        .association-summary {
          display: flex;
          flex-direction: column;
          color: @normal-text;
          padding-left: 12px;
          padding-top: 7px;
          padding-right: 7px;
          border-radius: 7px;
          border: 1px solid @association-border;
          background: linear-gradient(to right, transparent 3px, @light-background 5px),
            linear-gradient(
              to bottom,
              @google-red 25%,
              @google-yellow 25% 50%,
              @google-green 50% 75%,
              @google-blue 75%
            );

          .title-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .title-content {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 1px !important;

              .threat-type-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 14px;
                margin-left: 5px;
                margin-top: -9px;

                .association-icon {
                  font-size: 22px;
                  color: @dimmed-text;
                }
              }

              .name-info {
                display: flex;
                flex-direction: column;

                .name-updated {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;

                  .name {
                    display: flex;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 14px;
                    font-weight: 700;
                    margin-right: 10px;
                  }
                }

                .modified-date {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  .updated {
                    display: flex;
                    color: @muted-text;
                    font-weight: 200;
                    margin-right: 10px;
                    font-size: 11px;
                    padding-top: 3px;
                  }
                }

                .alt-names {
                  display: flex;
                  color: @dimmed-text;
                  font-weight: 200;
                  margin-top: 2px;
                  font-size: 11px;
                  overflow-y: hidden;
                  max-height: 35px;

                  &.expanded {
                    max-height: 100%;
                  }
                }

                .link {
                  margin-top: -1px;
                  font-size: 12px;

                  .narrow {
                    display: none;
                  }
                }
              }
            }
          }

          .description {
            color: @normal-text;
            font-weight: 200;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 1px;
            max-height: 35px;
            border-radius: 3px;
            box-shadow: inset 0 -17px 11px -8px @description-shadow;
            h1 {
              font-size: 17px;
            }

            h3 {
              font-size: 16px;
            }

            h3 {
              font-size: 15px;
            }

            h4 {
              font-size: 14px;
            }

            h5 {
              font-size: 13px;
            }

            tr {
              color: @normal-text;
              border-bottom: @muted-text 1px solid;
              background-color: @light-background;
            }

            th {
              color: @dimmed-text;
            }

            &.expanded {
              overflow-y: auto;
              max-height: 300px;
              width: 100%;
              box-shadow: none;
            }
          }

          .details {
            color: @dimmed-text;

            .p-value {
              color: @normal-text;
            }

            .threat-data-group {
              .title {
                display: block;
                font-size: 13px;
                font-weight: 600;
                margin-top: 3px;
                margin-bottom: 2px;
              }

              .values {
                margin-left: 7px;

                .title {
                  display: block;
                  font-size: 14px;
                  font-weight: 600;
                  margin-top: 7px;
                  margin-bottom: 3px;
                }

                .iocs {
                  overflow-y: auto;
                  max-height: 300px;
                  width: 100%;
                  box-shadow: none;
                }
              }
            }
          }

          .bottom {
            display: flex;
            flex-direction: row;

            .related-info {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              margin-bottom: 11px;

              .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 15px;
                padding-top: 6px;

                .title {
                  color: @dimmed-text;
                  font-weight: 500;
                  font-size: 12px;
                  margin-bottom: 2px;
                }

                .count {
                  color: @normal-text;
                }
              }
            }
          }

          .open-details-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            width: 100%;
            min-width: 62px;
            border-radius: 10px;
            margin-top: -2px;
            margin-bottom: 7px;
            cursor: pointer;
            padding: 2px;

            .open-details {
              font-size: 15px;
              color: @dimmed-text;
            }

            &:hover {
              // TODO: add opacity and adjust lightening so text shows through on sides but still looks similar through stronger lightening
              background-color: lighten(#fdfdfd75, 5%);
            }

            &:active {
              background-color: lighten(#fdfdfd75, 10%);
            }
          }
        }
      }
    }

    .remaining-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        color: @link-blue;
        background-color: @light-background;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 9px;
        border-radius: 5px;
        text-wrap: nowrap;
      }
    }
  }
}

@media (max-width: 450px) {
  .associations {
    .control-results {
      .right {
        .association-link {
          .narrow {
            display: block;
          }

          .full {
            display: none;
          }
        }
      }
    }

    .associations-tabs {
      .associations-tab {
        .association {
          .association-summary {
            .title-section {
              .title-content {
                .name-info {
                  .link {
                    .narrow {
                      display: block;
                    }

                    .full {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.muted {
  font-size: 13px;
  margin-left: 4px;
}

.name {
  font-size: 15px;
  font-weight: 600;
}

.modified-date {
  font-size: 12px;
  margin-right: 8px;
}

h2.p-title {
  font-size: 12px;
  font-weight: 500;
  color: #607d8b;
  margin: 10px 0 3px 0;
}

h3.p-title {
  font-size: 12px;
  font-weight: 400;
  color: #5a6268;
  margin: 5px 0 3px 0;
}

.pill-tag {
  border-radius: 4px;
  padding: 2px 5px;
  margin: 3px 3px 0px 0px;
  border: 1px solid #e4e9f2;
  display: inline-block;
}

.gti-icon {
  position: absolute;
  margin-left: 2px;
  margin-top: 1px;
}

.confidence-metadata-title {
  display: block;
  padding-bottom: 2px;
  font-weight: 500;
  margin-top: 3px;

  &.small {
    font-size: 12px;
    font-style: normal;
    margin-top: 0px;
  }
}

.confidence-metadata-indent {
  margin-left: 8px;
}
